* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    height: 100%;
    width:100%;
    background-image:radial-gradient(#b6a5dc, #bb57e2);


  }
.navbar{
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 20px;
    position:static;
    height: 70px;
    width:100%;
    justify-content:space-around ;
    background-color: transparent;
    box-shadow:0 2px 4px 0 rgba(0,0,0,.2);
}
.navbar a{
  text-decoration: none;
}
.navbar img{
  padding-right: 80%;
}
.navbar p{
  font-size: x-large;
  padding-right: 10px;
}

  h1{
    color: #ffffff;
    font-weight: bolder;
    box-shadow: #b6a5dc;
    font-size: 80px;
    padding-top: 2%;
  }
  .clock {
    width: 31.25em;
    height: 8em;
    margin-left: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
  }
  .clock div {
    position: relative;
    background-color: #ffffff;
    height: 100%;
    width: 3.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    color: #150c41;
    border-radius: 0.4em;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.3);
    letter-spacing: 0.05em;
  }
  .clock span {
    font-weight: 800;
    font-size: 2.5em;
    color: #ffffff;
  }
  .content-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.logo-img {
    width: 300px;
    margin-bottom: 20px;
}

.search-bar {
    border: 1px solid rgb(255, 255, 255);
    width: 800px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.search-bar:hover {
    box-shadow: 0px 0px 4px 0px #ffffff;
}

.search-bar i {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-right: 15px;
    cursor: pointer;
}

.search-bar input {
    flex-grow: 1;
    height: 30px;
    margin-right: 15px;
    font-size: 16px;
    border: none;
    background-color: transparent;
}

.search-bar input:focus {
    outline: none;
}

.grid-container{
  display:grid;
  grid-template-columns: repeat(3,30%);
  grid-template-rows: 30%;
  grid-row-gap: 60px;
  grid-column-gap:1px; 
  padding-top: 120px;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  padding-left: 5px;

}
.grid-item3{
  padding-top: 3%;
}


@media (max-width:750px) {
  .h1{
    font-size: 70px;
    align-items: center;
  }
  .grid-container{
    grid-template-columns: 400px;
    grid-template-rows: 300px;
    grid-row-gap: 60px;
    grid-column-gap:2px; 
    padding-top: 4%;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding-left: 1%;
}
}